.blog {
  box-shadow: $box-shadow-section;
  border-radius: 1.2rem;
  margin-bottom: 2rem;

  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__img {
      display: block;
      width: 65%;
      height: 31rem;
      object-fit: cover;
      border-radius: 1.2rem;
      transform: translateY(-2rem);
      margin-bottom: 5rem;

      @media only screen and (max-width: $bp-smallest) {
        width: 100%;
        transform: none;
      }
    }

    &__text {
      flex: 0 0 80%;
      font-weight: 500;
      font-size: 1.6rem;
      color: $color-grey-3;

      @media only screen and (max-width: $bp-smallest) {
        flex: 0 0 100%;
      }

      &--1 {
        margin-bottom: 3rem;
      }
    }
  }
}
